@{
    ViewBag.Title = "contact";
}
@section featured {
        <div>
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
}

<section class="contact">
    <header>
        <h3>phone/text</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>941.387.6306</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>email</h3>
    </header>    
    <p>
        <span class="label">general:</span>
        <span><a href="mailto:mattreynolds84@outlook.com">MattReynolds84@Outlook.com</a></span>
    </p>
</section>
