@{
    ViewBag.Title = "hobbies";
}
@section featured {
        <div>
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                
            </p>
        </div>
}



