@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=.5, user-scalable=yes" />
    <title>Marshooter</title>
</head>
<body style="max-width: 960px;">
    <div style="margin: 0 auto;">
        <canvas id="canvas" width="600" height="600" style="border: 1px solid #ddd"></canvas>
        <div>
            <input type="button" value="reset game" id="reset" />
            <input type="button" value="shoot" id="shoot" />
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        window.requestAnimFrame = (function (callback) {
            return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
            function (callback) {
                window.setTimeout(callback, 500 / 60);
            };
        })();

        function drawBall(ball, context) {
            context.save();
            context.beginPath();
            context.arc(ball.x, ball.y, ball.width / 2, 0, 2 * Math.PI, false);
            context.fillStyle = "red";
            context.fill();
            context.lineWidth = 2;
            context.strokeStyle = "black";
            context.stroke();
            context.restore();
        }

        function drawGun(gun, context) {
            context.save();
            context.lineWidth = 30;
            context.strokeStyle = "black";
            context.beginPath();
            context.moveTo(gun.baseX, gun.baseY);
            context.lineTo(gun.x, gun.y);
            context.stroke();
            context.restore();
        }

        function drawBirds(birds, context) {
            for (var i = 0; i < birds.length; i++) {
                var b = birds[i];
                context.save();
                context.beginPath();
                context.rect(b.x, b.y, b.width, b.height);
                context.fillStyle = b.fill;
                context.fill();
                context.lineWidth = 2;
                context.strokeStyle = "black";
                context.stroke();
                context.restore();
            }
        }

        function drawFence(context) {
            context.save();
            context.beginPath();
            context.fillStyle = "white";
            context.rect(0, 140, context.canvas.width, 10);
            context.rect(0, 160, context.canvas.width, 10);
            context.rect(0, 180, context.canvas.width, 10);
            context.rect(40, 135, 10, 80);
            context.rect(120, 135, 10, 80);
            context.rect(200, 135, 10, 80);
            context.rect(280, 135, 10, 80);
            context.rect(360, 135, 10, 80);
            context.rect(440, 135, 10, 80);

            context.fill();
            context.lineWidth = 2;
            context.strokeStyle = "black";
            context.stroke();
            context.restore();
        }

        function drawAmmo(gun, context) {
            context.save();
            context.beginPath();
            context.fillStyle = "brown";
            for (var i = 0; i < gun.ammo; i++) {
                var bx = 14 * (i + 1);
                var by = 550;
                var w = 8;
                var h = 15;

                context.moveTo(bx, by);
                context.lineTo(bx, by - h);
                context.arcTo(bx + 4, by- h - 4, bx + w, by - h, 6);
                context.lineTo(bx + 8, by);
                context.closePath();
            }

            context.fill();
            context.lineWidth = 2;
            context.strokeStyle = "black";
            context.stroke();
        }

        function animate(ball, gun, canvas, context, x, y) {
            if (x < canvas.width - ball.width - ball.borderWidth / 2) {
                if (y < canvas.height - ball.width - ball.borderWidth / 2) {
                    ball.x = x;
                    ball.y = y;
                    context.clearRect(0, 0, canvas.width, canvas.height);
                    drawFence(context);
                    drawBirds(birds, context);
                    drawBall(ball, context);
                    drawGun(gun, context);
                    drawAmmo(gun, context);
                    requestAnimFrame(function () {
                        animate(ball, gun, canvas, context, x, y);
                    });
                }
            }
        }

        function getMousePos(canvas, evt) {
            var rect = canvas.getBoundingClientRect();
            return {
                x: evt.clientX - rect.left,
                y: evt.clientY - rect.top
            };
        }

        function getGunAngle(gun, x, y, evt) {
            var triangleX = x - gun.baseX;
            var triangleY = y - gun.baseY;
            gun.angle = Math.atan2(triangleY, triangleX);

            return {
                x: gun.baseX + 90 * Math.cos(gun.angle),
                y: gun.baseY + 90 * Math.sin(gun.angle)
            };
        }

        function willHitBird(x, y, birds) {
            var willHit = false;
            var birdID;
            for (var i = 0; i < birds.length; i++) {
                var b = birds[i];

                //if((ball.x - 15 > tlX && ball.y - 15 > tlX) && (ball.x - 15 < blX && ball.y + 15 < blY) && (ball.x + 15 < trX && ball.y - 15 > trY) && (ball.x + 15 <
                willHit = ((x + 7 > b.x) && (x - 7 < b.x + b.width)) && ((y + 7 > b.y) && (y - 7 < b.y + b.height));
                if (willHit) {
                    birdID = i;
                    break;
                }
            }
            return {
                hit: willHit,
                id: birdID
            }
        }

        function isTouchDevice() {
            var el = document.createElement('div');
            el.setAttribute('ongesturestart', 'return;');
            return typeof el.ongesturestart === "function";
        }

        var bird = {
            x: 100,
            y: 100,
            width: 20,
            height: 40,
            fill: "grey"
        }, bird2 = {
            x: 200,
            y: 100,
            width: 20,
            height: 40,
            fill: "grey"
        }, bird3 = {
            x: 300,
            y: 100,
            width: 20,
            height: 40,
            fill: "grey"
        }, bird4 = {
            x: 400,
            y: 100,
            width: 20,
            height: 40,
            fill: "grey"
        };

        var birds = [bird, bird2, bird3, bird4];
        var canvas = document.getElementById("canvas");
        var context = canvas.getContext("2d");
        var centerX = canvas.width / 2;
        var centerY = canvas.height / 2;

        var ball = {
            x: centerX,
            y: centerY,
            width: 15,
            borderWidth: 2
        };

        var gun = {
            x: centerX,
            y: centerY,
            baseX: centerX,
            baseY: centerY + 90,
            width: 30,
            height: 90,
            borderWidth: 5,
            angle: 90,
            ammo: 5
        };

        drawFence(context);
        drawBirds(birds, context);
        drawBall(ball, context);
        drawGun(gun, context);
        drawAmmo(gun, context);


        $(canvas).mousemove(function (evt) {
            var coord = getMousePos(canvas, evt);
            var x = canvas.height - coord.x;
            var y = canvas.width - coord.y;
            var gunCoords = getGunAngle(gun, x, y, evt);
            gun.x = gunCoords.x;
            gun.y = gunCoords.y;

            animate(ball, gun, canvas, context, x, y);
        });
        if (isTouchDevice()) {
            //document.ontouchstart = function (e) {
            //    e.preventDefault();
            //}
            //canvas.removeEventListener("mousemove");

            canvas.addEventListener("touchmove", function (evt) {
                document.removeEventListener("touchmove");
                if(evt.targetTouches.length == 1){
                    var coord = evt.targetTouches[0];
                    var rect = canvas.getBoundingClientRect();
                    var x = canvas.height - (coord.pageX - rect.left);
                    var y = canvas.width - coord.pageY - rect.top;
                    var gunCoords = getGunAngle(gun, x, y, evt);
                    gun.x = gunCoords.x;
                    gun.y = gunCoords.y;

                    animate(ball, gun, canvas, context, x, y);
                }
            });

            $("#shoot").click(function (evt) {
                if (gun.ammo > 0) {
                    gun.ammo -= 1;
                    var checkAim = willHitBird(ball.x, ball.y, birds);
                    if (checkAim.hit) {
                        birds[checkAim.id].fill = "yellow";

                        animate(ball, gun, canvas, context, x, y);
                    }

                } else {
                    alert("sorry, no more ammo");
                }
            });
        } else {
            $("#shoot").hide();
            $("#canvas").click(function (evt) {
                if (gun.ammo > 0) {
                    gun.ammo -= 1;
                    var coord = getMousePos(canvas, evt);
                    var x = canvas.height - coord.x;
                    var y = canvas.width - coord.y;
                    var checkAim = willHitBird(x, y, birds);
                    if (checkAim.hit) {
                        birds[checkAim.id].fill = "yellow";

                        animate(ball, gun, canvas, context, x, y);
                    }

                } else {
                    alert("sorry, no more ammo");
                }
            });
        }


        $("#reset").click(function () {
            birds = [bird = {
                x: 100,
                y: 100,
                width: 20,
                height: 40,
                fill: "grey"
            }, bird2 = {
                x: 200,
                y: 100,
                width: 20,
                height: 40,
                fill: "grey"
            }, bird3 = {
                x: 300,
                y: 100,
                width: 20,
                height: 40,
                fill: "grey"
            }, bird4 = {
                x: 400,
                y: 100,
                width: 20,
                height: 40,
                fill: "grey"
            }];
            ball = {
                x: centerX,
                y: centerY,
                width: 15,
                borderWidth: 2
            };
            gun = {
                x: centerX,
                y: centerY,
                baseX: centerX,
                baseY: centerY + 90,
                width: 30,
                height: 90,
                borderWidth: 2,
                angle: 90,
                ammo: 5
            };
            drawBirds(birds, context);
            drawBall(ball, context);
            drawGun(gun, context);
            drawAmmo(gun, context);
        });

    </script>
</body>
</html>
