html {
    max-width: 100%;
    text-align: center;
}

body {
    height: 100%;
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 .7em;
    text-align: left;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

header, footer {
    background: #eee;
    padding: 1em;
    margin: 10px 0;
    border-radius: 2px;
    color: rgba(0,0,0,0.6);
    -webkit-text-shadow: 0 1px rgba(255, 255, 255, 0.75);
    text-shadow: 0 1px rgba(255, 255, 255, 0.75);
    border: 1px solid #ccc;
}

header {
    margin-bottom: 10px;
}

#main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flexbox;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: stretch;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -ms-flex-align: stretch;
    -moz-box-flex: 1;
    align-content: stretch;
    width: 100%;
}

    /*#main > section, #main > article, #main > aside {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }*/

    #main > section {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: -moz-box;
        display: flexbox;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-direction: normal;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        background: #eee;
        width: 200px;
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        -o-flex: none;
        flex: none;
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
    }

        #main > section > a {
            padding: 15px;
            background: -webkit-linear-gradient(top, #333 50%, #222) no-repeat 50% 100%, #333;
            background: -moz-linear-gradient(top, #333 50%, #222) no-repeat 50% 100%, #333;
            background: -ms-linear-gradient(top, #333 50%, #222) no-repeat 50% 100%, #333;
            background: -o-linear-gradient(top, #333 50%, #222) no-repeat 50% 100%, #333;
            color: white;
            margin: 0;
            border-radius: 1px;
            text-decoration: none;
            -webkit-transition: background-size 100ms ease-in-out, font-size 100ms ease-in-out 500ms;
            -moz-transition: background-size 100ms ease-in-out, font-size 100ms ease-in-out 500ms;
            /*-ms-transition: background-size 100ms ease-in-out, font-size 100ms ease-in-out 500ms;*/
            -o-transition: background-size 100ms ease-in-out, font-size 100ms ease-in-out 500ms;
            transition: background-size 100ms ease-in-out, font-size 100ms ease-in-out 500ms;
            -moz-background-size: 100% 0;
            -o-background-size: 100% 0;
            -webkit-background-size: 100% 0;
            background-size: 100% 0;
            text-align: center;
            white-space: nowrap;
            display: -webkit-box;
            display: -webkit-flex !important;
            display: -moz-box !important;
            display: -ms-flexbox;
            display: -o-flex;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            -o-justify-content: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            -o-align-items: center;
            align-items: center;
            -moz-box-flex: 1;
            -webkit-box-flex: 1;
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            -webkit-flex-align: stretch;
        }

        #main > section > a:hover{
            -moz-background-size: 100% 30%;
            -o-background-size: 100% 30%;
            -webkit-background-size: 100% 30%;
            background-size: 100% 30%;
        }

        #main > section > a:visited {
            color: white;
        }

    #main > article {
        padding: 0 2em;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        -webkit-box-align: stretch;
        /*-webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;*/
    }



    #main > aside {
        margin-top: 20px;
        width: 145px;
        /*-webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        -moz-box-flex: 0;
        -webkit-flex: none;
        -ms-flex: none;
        flex: none;
        -moz-box-align: end;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;*/
        -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
        -webkit-box-flex: 0;
        -moz-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
    }

footer {
    -moz-box-flex: 0;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
}


ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

        input[type="text"], input[type="password"] {
    float: right;
}

    input[type="text"]:after, input[type="password"]:after {
        clear: both;
    }

    input[type="button"], input[type="submit"], button[type="submit"] {
    padding: 8px;
    border: 1px solid #555;
    background: -webkit-linear-gradient(top, #333 50%, #222) no-repeat 50% 100%, #333;
    background: -moz-linear-gradient(top, #333 50%, #222) no-repeat 50% 100%, #333;
    background: -ms-linear-gradient(top, #333 50%, #222) no-repeat 50% 100%, #333;
    background: -o-linear-gradient(top, #333 50%, #222) no-repeat 50% 100%, #333;
    color: white;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 0 auto;
    -o-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: auto 10px;
    border-radius: 1px;
    text-decoration: none;
    -webkit-transition: background-size 100ms ease-in-out, font-size 100ms ease-in-out 500ms;
    -moz-transition: background-size 100ms ease-in-out, font-size 100ms ease-in-out 500ms;
    -ms-transition: background-size 100ms ease-in-out, font-size 100ms ease-in-out 500ms;
    -o-transition: background-size 100ms ease-in-out, font-size 100ms ease-in-out 500ms;
    transition: background-size 100ms ease-in-out, font-size 100ms ease-in-out 500ms;
    -moz-background-size: 100% 0;
    -o-background-size: 100% 0;
    -webkit-background-size: 100% 0;
    background-size: 100% 0;
    text-align: center;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

    input[type="button"]:hover, input[type="submit"]:hover, button[type="submit"]:hover {
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        background-size: 100% 100%;
    }


    .float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

h1, h2, h3,
h4, h5, h6 {
    color: #333;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

a {
    text-decoration: none !important;
        color: #164871 ;

}

    a:hover {
    }

    a:visited {
        color: #345774;
    }

    .buttons, .buttons p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;    
    margin-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-box-align: stretch;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
}

#loginFormContainer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    
}

#loginForm {
    border-right: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flexbox;
    -webkit-box-flex:1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    width: 445px;
}


    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm > h2, #socialLoginForm > h2 {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

#socialLoginForm {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flexbox;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    width: 445px;
}

@media all and (max-width: 1275px){
    #loginFormContainer{
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    #loginForm, #socialLoginForm{
        padding: 0;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }
}

@media all and (max-width: 650px){
    #main {
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    #main > section{
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: auto;
    }

        #main > section > a {
            -webkit-box-flex: 1;
            -webkit-flex: 1 0 auto;                
            -ms-flex: 1 0 auto;
             flex: 1 0 auto;
        }

    #loginFormContainer{
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    #main > aside{
        display: none;
    }

    #loginForm, #socialLoginForm{
        padding: 0;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
    }

    
}
